              <footer class="row">
              <div class="large-12 columns"><hr>
                  <div class="row">
       
                    <div class="large-6 columns">
                        <p>© EigenPrep All Rights Reserved</p>
                    </div>
       
                    <div class="large-6 small-12 columns">
                        <ul class="inline-list right">
                        	
                        	<li> <%= link_to 'SAT'.html_safe, sat_path  %></li>
                          <li><%= link_to 'GRE'.html_safe, gre_path  %></li>
                          
                          <li><%= link_to 'TOEFL'.html_safe, toefl_path  %></li>
                          <li><%= link_to 'GMAT'.html_safe, gmat_path  %></li>
                        </ul>
                    </div>
       
                  </div>
              </div>
            </footer>