<header>
             
        <nav class="top-bar" data-topbar>
          
          <ul class="title-area">
             
            <li class="name">
              
                	
            
                  <%= link_to image_tag("logo.png", class: "logo-icon"), root_path %>
                  <a class="logo-name"><b>Eigen</b> Prep</a> 
                   
              </li>
              
              	
              	
              
            <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
          </ul>
          
          
       
          <section class="top-bar-section">
             
            <ul class="right">
           
        
              <li class="has-dropdown">
                <a href="#">SAT</a>
                <ul class="dropdown">
                  <li><a href="#">About</a></li>
                  <li><a href="#">Diagnostico</a></li>
                  <li><a href="#">Curso</a></li>
                  <li class="divider"></li>
                  <li><a href="#">See all →</a></li>
                </ul>
              </li>
             
             <li class="has-dropdown">
                <a href="#">GRE</a>
                <ul class="dropdown">
                  <li><a href="#">Dropdown Option</a></li>
                  <li><a href="#">Dropdown Option</a></li>
                  <li><a href="#">Dropdown Option</a></li>
                  <li class="divider"></li>
                  <li><a href="#">See all →</a></li>
                </ul>
              </li>
             
           
              <li class="has-dropdown">
                <a href="#">GMAT</a>
                <ul class="dropdown">
                  <li><a href="#">Dropdown Option</a></li>
                  <li><a href="#">Dropdown Option</a></li>
                  <li><a href="#">Dropdown Option</a></li>
                  <li class="divider"></li>
                  <li><a href="#">See all →</a></li>
                </ul>
              </li>
              <li class="has-dropdown">
                <a href="#">Llamenos</a>
                <ul class="dropdown">
                  <li><font color="white"><span class="fa fa-phone"></span> 098-378-7800</font></li>
                  <li><a href="#">Dropdown Option</a></li>
                  <li><a href="#">Dropdown Option</a></li>
                  <li class="divider"></li>
                  <li><a href="#">See all →</a></li>
                </ul>
              </li>
              <li>
            		
            	</li>
            </ul>
            
            	
          </section>
        </nav>
       
         
       
</header>