<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Erudito</title>
    
    <%= render 'layouts/stylesheets' %>


  </head>

  <body>
	<%= render 'layouts/header' %>
	
	  <div class="row">
        <div class="large-12 columns">
			<%= yield %>
        </div>
      </div>

    
   
  </body>
</html>