<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Erudito</title>
    
    <%= render 'layouts/stylesheets' %>


  </head>

  <body>

<div class="large-3 large-centered columns">
	
  <%= yield %>
  
</div>

  </body>
</html>